body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
}

/* Style the header */
.header {
  padding: 10px;
  text-align: left;
  background: #0B208B;
  color: white;
  height: 25vh;
}

.header-link {
    color: white;
    text-decoration: none; /* Remove underline */
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 50px;
  color: white;
}

.header a:hover {
    color: deepskyblue; /* Black text color */
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: gainsboro; /* Dark background color */
}


.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: #0B208B; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

.navbar a:hover {
  color: deepskyblue; /* Blue text color */
}

.section {
    background-color: white;
}

* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
    flex: 25%; /* Set the width of the sidebar */
    background-color: #0B208B; /* Blue background color */
    padding: 15px; /* Some padding */
    color: white; /* White text color */
}

.main {
  flex: 75%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 15px; /* Some padding */
  color: #0B208B; /* White text color */
}

.class-link {
    color: white;
    text-decoration: none; /* Remove underline */
}

.class-link a:hover {
  color: deepskyblue; /* Blue text color */
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .header {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header h1 {
    float: none;
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.footer {
  padding: 10px; /* Some padding */
  text-align: center; /* Center text*/
  background: gainsboro; /* Grey background */
  color: #0B208B;
}
